.single-article-header h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.single-article-header h3 span {
  margin-left: 6px;
}

.single-article-header h3 span .header-icon {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 10px;
  cursor: pointer;
}

.popover-content {
  color: #f5cd47;
  font-weight: 500;
}
