.reply-field {
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid #d5d5d5;
}

.reply-field .reply-text {
  border-left: 2px solid #c3c3c3;
  padding-left: 6px;
  margin-left: 6px;
}

.reply-field .admin-reply {
  min-height: 32px;
}

.reply-field .admin-reply .reply-body {
  margin-left: 40px;
}

.reply-field .admin-reply .reply-body .top {
  line-height: 16px;
  margin-bottom: 4px;
  font-size: 14px;
}

.reply-field .admin-reply .reply-body .reply-create-time {
  font-size: 12px;
  color: #acacac;
  line-height: 1;
}

.reply-field .admin-reply .admin-name {
  color: #108ee9;
  margin-right: 6px;
  font-weight: 600;
}

.reply-field .admin-reply .avatar {
  float: left;
}
