.article-card {
  cursor: pointer;
}

.article-card .split .content {
  margin-bottom: 12px;
}

.article-card .image img {
  width: 100%;
}

.article-card hr {
  margin-bottom: 12px;
}

.article-card .bottom-buttons {
  float: right;
}
