.article-card {
  cursor: pointer;
  margin-bottom: 24px;
}

.article-card hr {
  margin: 24px 0 12px 0;
  color: #ebebeb;
}

.article-card .bottom-buttons {
  float: right;
}

.article-card .card-content {
  font-size: 0.9rem;
}
