.app-content {
  max-width: 1000px;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  background-color: white;
  padding-bottom: 100px;
}

@media (max-width: 800px)  {
  .app-content {
    width: 85%;
  }
}

@media (max-width: 400px)  {
  .app-content {
    width: 100%;
  }
}
