body {
  color: #525050;
}

a, a:hover {
  color: inherit;
}

.ant-popover-message {
  color: white;
}

.ant-popover-inner {
  background-color: #404040;
}

.ant-popover-arrow::after {
  border-bottom-color: #404040 !important;
}
