.single-article {
  padding: 24px;
}

.single-article .paragraph {
  border-bottom: 2px dashed #f5cd47;
  padding: 12px 0;
  font-size: 1rem;
}

.single-article .header-section {
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 800px) {

}
